.footer_container{
    background-image: url('../../../../doctor-portal-resource/images/footer-bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height:500px;
    max-height: 500px;
}

.text-gray{
    color: rgb(107, 115, 119);
}