.action_status{
    padding:5px 10px;
    cursor: pointer;
    color: #ffffff;
    border-color: transparent;
}

.visited{
    padding:5px 10px;
    cursor: pointer;
    border-color: transparent;
    color: #ffffff;
}

@media only screen and (max-width:767px){
    .div_for_mobile{
        padding:30px;
    }
}