.sidebar{
    background-image: linear-gradient(75deg, #19D3AE, #0fcfec);
    border-color: transparent;
    font-weight: 600;
    margin-bottom: 0;
    min-height: 1000px;
}
.sidebar div{
    position:fixed;
}
.list_container{
    padding-top: 100px;
}

.list_container .dashboard_list{
    list-style-type: none;
    margin: 5px 0;
    padding:5px 0;
}

 .dashboard_list .dashboard_link{
    text-decoration: none;
    color: #ffffff;
}
.dashboard_list .dashboard_link:hover{
    color: #000000;
}

.dashboard_list .active_link{
    color: #000000;
}

.log_out{
    margin-top: 500px;
    margin-left: 40px;
    margin-right: 40px;
    padding:20px 5px 50px 5px;
}

@media only screen and (max-width: 767px) {
    .list_container{
        padding-top: 50px;
    }
    .log_out{
        margin:50px 40px  5px 40px;
    }
    .sidebar{
        min-height:400px;
    }
    .sidebar div{
        position: relative;
    }
  }

